<<<<<<< HEAD
﻿@using BusinessLayer.Concrete;
@using DataAccessLayer.EntityFramework;
@model EntityLayer.Concrete.Departman
@{

    KullaniciManager km = new KullaniciManager(new EfKullaniciDal());
    DepartmanManager dptm = new DepartmanManager(new EfDepartmanDal());

    int departmanId = ViewBag.id;
    var departman = dptm.TGetByID(departmanId);
    var olusturan = km.TGetByID(departman.Olusturan);
    var error = TempData["error"];
    if (error != null)
    {
        <script type="text/javascript">window.onload = function () {
                var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                Toast.fire({
                    icon: 'error',
                    title: 'Güncelleme İşlemi Başarısız Oldu'
                })
            };</script>
    }
}
<div id="divContent" class="card  bg-light">
    <div class="card-header bg-gray rounded-1 mb-1 align-items-center justify-content-center">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-md-3">
                    <div class="row">
                        <h3 class="p-2">Departman Güncelle</h3>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="row justify-content-around float-right m-1">
                        <div class="col-sm-6 col-md-4">
                            <a asp-action="DtDepartman" asp-controller="DtDepartman" class="btn btn-lg btn-danger"><i class="bi bi-x-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <form asp-controller="DtDepartman" asp-action="DepartmanGuncelle" asp-route-departmanId="@departmanId" asp-route-olusturan="@departman.Olusturan" asp-route-olusturulmaTarihi="@departman.OlusturulmaTarih" method="post">
        <div class="form-group ">
            <div class="card-body p-3">
                <div class="row mb-2">
                    <div class="col-md-3">
                        <label>Departman</label>
                        <input type="Text" class="form-control text-capitalize" value="@departman.DepartmanAdi" placeholder="Cari Tipi" name="DepartmanAdi" asp-for="@Model.DepartmanAdi">
                    </div>

                    <div class="col-md-3">
                        <label>Oluşturan</label>
                        <label class="form-control ">@olusturan.KullaniciAdi @olusturan.KullaniciSoyadi</label>
                    </div>
                    <div class="col-md-3">
                        <label>Oluşturulma Tarihi</label>
                        <label class="form-control">@departman.OlusturulmaTarih.Date.ToShortDateString()</label>
                    </div>
                    <div class="col-md-3">
                        <label>Son Değiştirme Tarihi</label>
                        <label class="form-control">@departman.SonDegistirmeTarih.Date.ToShortDateString()</label>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">

                <button type="button" class="btn btn-danger m-3 col-2" data-toggle="modal" data-target="#modalSil">Sil</button>
                <button type="submit" class=" align-right btn btn-primary m-3 col-2 float-right"> Güncelle</button>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modalSil">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Şehir Silinecek</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Silmek istediğinizden emin misiniz?&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">İptal</button>
                <a href="/DtDepartman/DeleteDepartman/@departmanId" class="btn btn-outline-light">Sil</a>
            </div>
        </div>

    </div>

</div>

=======
﻿@using BusinessLayer.Concrete;
@using DataAccessLayer.EntityFramework;
@model EntityLayer.Concrete.Departman
@{

    KullaniciManager km = new KullaniciManager(new EfKullaniciDal());
    DepartmanManager dptm = new DepartmanManager(new EfDepartmanDal());

    int departmanId = ViewBag.id;
    var departman = dptm.TGetByID(departmanId);
    var olusturan = km.TGetByID(departman.Olusturan);
    var error = TempData["error"];
    if (error != null)
    {
        <script type="text/javascript">window.onload = function () {
                var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                Toast.fire({
                    icon: 'error',
                    title: 'Güncelleme İşlemi Başarısız Oldu'
                })
            };</script>
    }
}
<div id="divContent" class="card  bg-light">
    <div class="card-header bg-gray rounded-1 mb-1 align-items-center justify-content-center">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-md-3">
                    <div class="row">
                        <h3 class="p-2">Departman Güncelle</h3>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="row justify-content-around float-right m-1">
                        <div class="col-sm-6 col-md-4">
                            <a asp-action="DtDepartman" asp-controller="DtDepartman" class="btn btn-lg btn-danger"><i class="bi bi-x-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <form asp-controller="DtDepartman" asp-action="DepartmanGuncelle" asp-route-departmanId="@departmanId" asp-route-olusturan="@departman.Olusturan" asp-route-olusturulmaTarihi="@departman.OlusturulmaTarih" method="post">
        <div class="form-group ">
            <div class="card-body p-3">
                <div class="row mb-2">
                    <div class="col-md-3">
                        <label>Departman</label>
                        <input type="Text" class="form-control text-capitalize" value="@departman.DepartmanAdi" placeholder="Cari Tipi" name="DepartmanAdi" asp-for="@Model.DepartmanAdi">
                    </div>

                    <div class="col-md-3">
                        <label>Oluşturan</label>
                        <label class="form-control ">@olusturan.KullaniciAdi @olusturan.KullaniciSoyadi</label>
                    </div>
                    <div class="col-md-3">
                        <label>Oluşturulma Tarihi</label>
                        <label class="form-control">@departman.OlusturulmaTarih.Date.ToShortDateString()</label>
                    </div>
                    <div class="col-md-3">
                        <label>Son Değiştirme Tarihi</label>
                        <label class="form-control">@departman.SonDegistirmeTarih.Date.ToShortDateString()</label>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">

                <button type="button" class="btn btn-danger m-3 col-2" data-toggle="modal" data-target="#modalSil">Sil</button>
                <button type="submit" class=" align-right btn btn-primary m-3 col-2 float-right"> Güncelle</button>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modalSil">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Şehir Silinecek</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Silmek istediğinizden emin misiniz?&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">İptal</button>
                <a href="/DtDepartman/DeleteDepartman/@departmanId" class="btn btn-outline-light">Sil</a>
            </div>
        </div>

    </div>

</div>

>>>>>>> frontend
