@using BusinessLayer.ValidationRules
@model EntityLayer.Concrete.CariPersonel
@using BusinessLayer.Concrete;
@using DataAccessLayer.EntityFramework;
@{
    CariPersonelManager pm = new CariPersonelManager(new EfCariPersonelDal());
    IlgiliKisilerManager ikm = new IlgiliKisilerManager(new EfIlgiliKisilerDal());
   
}



<div class="mb-3 px-3 py-2">
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">window.onload = function () {
                var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                Toast.fire({
                    icon: 'error',
                    title: 'Ekleme İşlemi Başarısız Oldu'
                })
            };</script>
    }
    <h1>YENİ EKLE</h1>


    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">

            <a class="nav-link active btn btn-white" data-toggle="tab" data-target="#ilgiliKisilerTab" role="tab">
                <i class="bi bi-card-list"></i>
                İlgili Kişiler
            </a>
            <a class="nav-link btn btn-white" data-toggle="tab" data-target="#muhasebeTab" role="tab">
                <i class="bi bi-card-list"></i> Muhasebe
            </a>
            <a class="nav-link btn btn-white" data-toggle="tab" data-target="#projeTab" role="tab">
                <i class="bi bi-card-list"></i>
                Proje
            </a>
            <a class="nav-link btn btn-white" data-toggle="tab" data-target="#eklenenlerTab" role="tab">
                <i class="bi bi-card-list"></i> Eklenenler
            </a>
            <a class="nav-link btn btn-white" data-toggle="tab" data-target="#danismanBilgileriTab" role="tab">
                <i class="bi bi-card-list"></i> Danışman Bilgileri
            </a>
            <a class="nav-link btn btn-white" data-toggle="tab" data-target="#faturaTab" role="tab">
                <i class="bi bi-card-list"></i> Fatura
            </a>
        </div>
    </nav>
    <div class=" container-fluid bg-white p-4 ">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="ilgiliKisilerTab" role="tabpanel">
                <div class="card p-3">
                    <div class="card-body">

                        <hr class="divider">
                        <div class="row">
                            <div id="ilgiliPersonel" class="col-md-6">
                                <form asp-action="IlgiliKisiEkle" asp-controller="IlgiliKisiler" method="post">
                                    <div class="row mb-2 justify-content-between">
                                        <div class="col-12">
                                            <select id="ilgiliKisiCari" name="cariId" class="form-control select2bs4"
                                                style="width: 100%;" required>
                                                <option selected disabled>Cari Seçin</option>
                                                @foreach (var cari in ViewBag.cariList)
                                                {
                                                    <option value="@cari.CariId">@cari.CariAdi</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <input class="invisible" id="lblPersonelId" name="cariPersonelId"
                                        asp-for="@Model.CariPersonelId">
                                    <div class="form-group">
                                        <table id="tblIlgili" class="table table-hover">
                                            <thead>
                                                <tr style="white-space:nowrap">
                                                    <th>Seç</th>
                                                    <th>Personel Kodu</th>
                                                    <th>Adı Soyadı</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var personel in ViewBag.personelList)
                                                {
                                                    string personelAdi2 = personel.CariPersonelAdi2;
                                                    personelAdi2 = (personelAdi2 == null) ? personelAdi2 = "" : personelAdi2 = personelAdi2;
                                                    <tr >
                                                        <td><input name="radio" type="radio"
                                                                value="@personel.CariPersonelId" /></td>
                                                        <td>@personel.CariPersonelKodu.ToUpper()</td>
                                                        <td>@personel.CariPersonelAdi.ToUpper()
                                                            @personel.CariPersonelAdi2.ToUpper()
                                                            @personel.CariPersonelSoyadi.ToUpper()</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <hr class="divider" />
                                        @* <div class="row mb-1">
                                            <div class="col-md-3 mb-1">
                                                <select id="ikUnvanId" class="form-control select2bs4"
                                                    style="width: 100%;" asp-for="@Model.UnvanId" required>
                                                    <option selected disabled>Unvan Seç</option>
                                                    @foreach (var unvan in ViewBag.unvanList)
                                                    {
                                                        <option value="@unvan.UnvanId">@unvan.UnvanAciklama</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-3 mb-1">
                                                <select id="ikDepartmanId" class="form-control select2bs4"
                                                    onchange="FillPozisyon()" asp-for="@Model.DepartmanId"
                                                    style="width: 100%;" required>
                                                    <option selected disabled>Departman Seç</option>
                                                    @foreach (var departman in ViewBag.departmanList)
                                                    {
                                                        <option value="@departman.DepartmanId">@departman.DepartmanAdi
                                                        </option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-3 mb-1">
                                                <select id="ikPozisyonId" class="form-control select2bs4"
                                                    asp-for="@Model.PozisyonId" style="width: 100%;" required>
                                                    <option selected disabled>Pozisyon Seçmek İçin Önce Departman Seçin
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 mb-1">
                                                <select class="form-control select2bs4" asp-for="@Model.CalismaDurumu"
                                                    style="width: 100%;" required>
                                                    <option selected disabled>Çalışma Durumu</option>
                                                    <option value="@true">Devam Ediyor</option>
                                                    <option value="@false">Ayrıldı</option>
                                                </select>
                                            </div>
                                        </div> *@
                                        <div class="row mt-3 mb-1">
                                            <div class="col-md-6">
                                                <input class=" mr-3" type="checkbox" asp-for="@Model.SerivsMailGonder">
                                                <label class="form-check-label mr-3">Servis Maili Gönderilecek
                                                    Mi?</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input class="form-check-input" type="checkbox"
                                                    asp-for="@Model.ServisFaturaGonder">
                                                <label class="form-check-label">Servis Faturası Gönderilecek Mi?</label>
                                            </div>

                                        </div>

                                        <div class="row mt-3 justify-content-end">
                                            <button type="submit" class="btn btn-primary col-md-3"
                                                onclick="ilgiliKisiIsSelected()">Ekle</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
        <div id="divContent" class="card bg-light">
            <div class="card-header">
                <h5 class=" text-center text-bold">Personel</h5>
            </div>
            <div class="card-body p-3">
                <dl class="row">
                  <dt class="col-sm-4">Personel Kodu</dt>
                  <dd class="col-sm-8 text-uppercase" id="pPersonelKodu"></dd>
                  <dt class="col-sm-4">Personel Adı</dt>
                  <dd class="col-sm-8 text-capitalize" id=pPersonelAdi></dd>
                  @* <dd class="col-sm-8 offset-sm-4">Donec id elit non mi porta gravida at eget metus.</dd> *@
                  <dt class="col-sm-4">Personel Soyadı</dt>
                  <dd class="col-sm-8" id="pPersonelSoyadi"></dd>
                  <dt class="col-sm-4">Cinsiyet</dt>
                  <dd class="col-sm-8" id="pPersonelCinsiyet"></dd>
                  <dt class="col-sm-4">Mail</dt>
                  <dd class="col-sm-8" id="pPersonelMail"></dd>
                  <dt class="col-sm-4">Telefon</dt>
                  <dd class="col-sm-8" id="pPersonelTelefon"></dd>
                  <dt class="col-sm-4">Unvan</dt>
                  <dd class="col-sm-8" id="pPersonelUnvan"></dd>
                  <dt class="col-sm-4">Departman</dt>
                  <dd class="col-sm-8" id="pPersonelDepartman"></dd>
                  <dt class="col-sm-4">Pozisyon</dt>
                  <dd class="col-sm-8" id="pPersonelPozisyon"></dd>
                 @*  <dt class="col-sm-4">Çalışma Durumu</dt>
                  @{
                    string calismaDurumu="";
                    if (personel.CalismaDurumu==true)
                    {
                        calismaDurumu="Çalışıyor";
                    }
                    else if(personel.CalismaDurumu==false)
                    {
                        calismaDurumu="Ayrıldı";
                    }
                  }
                  <dd class="col-sm-8">@calismaDurumu</dd>
                  <dt class="col-sm-4">Servis Maili Gönderilsin</dt>
                  @{
                    string servisMaili="";
                   if (personel.SerivsMailGonder==true)
                   {
                    servisMaili="Evet";
                   }
                   else
                   {
                    servisMaili="Hayır";
                   }
                  }
                  <dd class="col-sm-8">@servisMaili</dd>
                  <dt class="col-sm-4">Servis Faturası Gönderilsin</dt>
                  @{
                    string servisFatura="";
                   if (personel.ServisFaturaGonder==true)
                   {
                    servisFatura="Evet";
                   }
                   else
                   {
                    servisFatura="Hayır";
                   }
                  }
                  <dd class="col-sm-8">@servisFatura</dd>*@
                  <dt class="col-sm-4 mb-4">Adres</dt>
                  <dd class="col-sm-8 " id="pPersonelAdres1"></dd>
                  <dt class="col-sm-4 ">Adres 2</dt>
                  <dd class="col-sm-8" id="pPersonelAdres2"></dd> 
                </dl>
            </div>
        </div>
    </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="muhasebeTab" role="tabpanel" data-toggle="tab">
                Sonradan Analizi Yapılacak
            </div>
            <div class="tab-pane fade" id="projeTab" role="tabpanel" data-toggle="tab">
                Sekme içerisinde müşteriye yapılan satışlarla ilgili
                projeler satır bazlı görünecek. Satırda olması gerekenler
                proje modülünde tanıtılacak. Proje modülünde girişi yapılıp
                bilgi olarak satırda görünmesi gereken alanlar satış şekli,
                çalışma şekli, satış şekli ünvanı, satış tarihi, bakım
                faturası tarihi, bakım periyodu olacak. Bu alanlar proje
                modülünde anlatılacaktır. Satıra çift tıklayınca yada
                projeye git gibi bir seçenekle ilgili satırdan projeye
                ulaşılacak.
            </div>
            <div class="tab-pane fade" id="eklenenlerTab" role="tabpanel" data-toggle="tab">
                Cariye özel eklenmesi gereken dosyalar, resimler, dökümanlar
                vb eklenebilecek. Proje bazlı eklenmesi gereken bir durumda
                proje modülünden ilgili projeye eklenecek.
            </div>
            <div class="tab-pane fade" id="danismanBilgileriTab" role="tabpanel" data-toggle="tab">
                Müşterinin projesine tanımlanmış danışmanları proje bazlı
                görebileceğimiz sekme.
            </div>
            <div class="tab-pane fade" id="faturaTab" role="tabpanel" data-toggle="tab">
                Fatura Mailleri
            </div>
        </div>
    </div>
</div>







