@using BusinessLayer.Concrete;
@using DataAccessLayer.EntityFramework;
@{
    AnaSektorManager asm = new AnaSektorManager(new EfAnaSektorDal());
    BagliSektorManager bsm = new BagliSektorManager(new EfBagliSektorDal());
    KullaniciManager km = new KullaniciManager(new EfKullaniciDal());
    int anaSektorId = ViewBag.id;
    var tblAnaSektor = asm.TGetByID(anaSektorId);
    var sonDegistiren = km.TGetByID(tblAnaSektor.SonDegistiren);
    var olusturan = km.TGetByID(tblAnaSektor.Olusturan);

}

<div class="card">
    
</div>
<div id="divContent" class="card  bg-light">
    <div class="card-header bg-gray">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <div class="row">
                    <h3>Ana Sektör Gör</h3>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row justify-content-end">
                    <div class="col-4">
                        <h4>
                            <button type="submit" form="frmModulEkle"
                                    class=" align-right btn btn-primary btn-lg float-right not-allowed" disabled>
                                <i class="bi bi-database-add "></i>
                            </button>
                        </h4>
                    </div>
                    <div class="col-4">
                        <a asp-action="DtAnaSektor" asp-controller="DtAnaSektor" class=" btn btn-lg btn-danger "><i class="bi bi-x-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body bg-light">

    <form method="post">
        <div class="form-group ">
            <div class="card-body p-3">
                <div class="row mb-2">
                    <div class="col-md-3">
                        <label class="col-fron-label col-form-label-sm">Ana Sektör</label>
                        <label class="form-control form-control-sm text-capitalize">@tblAnaSektor.AnaSektorAdi</label>
                    </div>

                    <div class="col-md-3">
                        <label class="col-fron-label col-form-label-sm">Durum</label>
                        @{
                            if (tblAnaSektor.Silindi == false)
                            {
                                <label class="form-control form-control-sm ">Mevcut</label>
                            }
                            else
                            {
                                <label class="form-control form-control-sm ">Silindi</label>
                            }
                        }
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">
                        <label class="col-fron-label col-form-label-sm">Oluşturan</label>
                        <label class="form-control form-control-sm ">@olusturan.KullaniciAdi @olusturan.KullaniciSoyadi</label>
                    </div>
                    <div class="col-md-3">
                        <label class="col-fron-label col-form-label-sm">Oluşturulma Tarihi</label>
                        <label class="form-control form-control-sm">@tblAnaSektor.OlusturulmaTarih.Date.ToShortDateString()</label>
                    </div>
                    <div class="col-md-3">
                        <label class="col-fron-label col-form-label-sm">Son Değiştiren</label>
                        <label class="form-control form-control-sm ">@sonDegistiren.KullaniciAdi @sonDegistiren.KullaniciSoyadi</label>
                    </div>
                    <div class="col-md-3">
                        <label class="col-fron-label col-form-label-sm">Son Değiştirilme Tarihi</label>
                        <label class="form-control form-control-sm">@tblAnaSektor.SonDegistirmeTarih.Date.ToShortDateString()</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>

<div class="card col-md-3 bg-light">
    <div class="card-body p-3">
        <table class="table  ">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Bağlı Sektörler</td>
                    @*<td><a asp-controller="DtPozisyon" asp-action="PozisyonEkle" class="btn btn-primary">Yeni Ekle</a></td>*@
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var item in ViewBag.bagliSektorList)
                    {

                        var bagliSektorAdi = bsm.TGetByID(item.BagliSektorId);
                    <tr>
                        <td>@i</td>
                        <td>@bagliSektorAdi.BagliSektorAdi</td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>
