@using BusinessLayer.Concrete;
@using DataAccessLayer.EntityFramework;
@model EntityLayer.Concrete.AnaSektor
@{

    KullaniciManager km = new KullaniciManager(new EfKullaniciDal());
    AnaSektorManager asm = new AnaSektorManager(new EfAnaSektorDal());

    int anaSektorId = ViewBag.id;
    var anaSektor = asm.TGetByID(anaSektorId);
    var olusturan = km.TGetByID(anaSektor.Olusturan);
    var error = TempData["error"];
    if (error != null)
    {
        <script type="text/javascript">window.onload = function () {
                var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                Toast.fire({
                    icon: 'error',
                    title: 'Güncelleme İşlemi Başarısız Oldu'
                })
            };</script>
    }
}
<div id="divContent" class="card  bg-light">
    <div class="card-header bg-gray">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <div class="row">
                    <h3>
                        Ana Sektör Güncelle
                    </h3>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row justify-content-end">
                    <div class="col-4">
                        <button form="frmAnaSektorGuncelle" type="submit" class=" align-right btn btn-info btn-lg"> <i class="bi bi-database-fill-add"></i></button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#modalSil"><i class="bi bi-trash3-fill" style="color: white;"></i></button>
                    </div>
                    <div class="col-4">
                        <a asp-action="DtAnaSektor" asp-controller="DtAnaSektor" class=" btn btn-lg btn-danger"><i class="bi bi-x-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="frmAnaSektorGuncelle" asp-controller="DtAnaSektor" asp-action="AnaSektorGuncelle" asp-route-anaSektorId="@anaSektorId" asp-route-olusturan="@anaSektor.Olusturan" asp-route-olusturulmaTarihi="@anaSektor.OlusturulmaTarih" method="post">
        <div class="form-group ">
            <div class="card-body p-3">
                <div class="row mb-2">
                    <div class="col-md-3">
                        <label class="col-form-label col-form-label-sm">AnaSektor</label>
                        <input type="Text" class="form-control form-control-sm text-capitalize" value="@anaSektor.AnaSektorAdi" placeholder="Cari Tipi" name="AnaSektorAdi" asp-for="@Model.AnaSektorAdi">
                    </div>

                    <div class="col-md-3">
                        <label class="col-form-label col-form-label-sm">Oluşturan</label>
                        <label class="form-control form-control-sm ">@olusturan.KullaniciAdi @olusturan.KullaniciSoyadi</label>
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label col-form-label-sm">Oluşturulma Tarihi</label>
                        <label class="form-control form-control-sm">@anaSektor.OlusturulmaTarih.Date.ToShortDateString()</label>
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label col-form-label-sm">Son Değiştirme Tarihi</label>
                        <label class="form-control form-control-sm">@anaSektor.SonDegistirmeTarih.Date.ToShortDateString()</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modalSil">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Şehir Silinecek</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Silmek istediğinizden emin misiniz?&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">İptal</button>
                <a href="/DtAnaSektor/DeleteAnaSektor/@anaSektorId" class="btn btn-outline-light">Sil</a>
            </div>
        </div>

    </div>

</div>

