@using BusinessLayer.Concrete;
@using DataAccessLayer.EntityFramework;
@{
    var dptm = new DepartmanManager(new EfDepartmanDal());
    var pznm = new PozisyonManager(new EfPozisyonDal());
    var km = new KullaniciManager(new EfKullaniciDal());


}


<div class="card">
    <div class="m-2 mb-3 ">
        <div class="col ">
            <form id="fltAreaPozisyon" asp-controller="DtPozisyon" asp-action="DTPozisyon" asp-route-id="" method="post">
                <div class="row mb-3">
                    <div class="col-md-4 mb-1">
                        <input type="text" class="form-control" name="pozisyonAdi" value="@ViewBag.pozisyonAdi" placeholder="Pozisyon Adı">
                    </div>
                    <div class="col-md-4 mb-1 ">
                        <select id="sDepartmanFilter1" class="form-control select2bs4" style="width: 100%;" name="departmanId">
                            @if (ViewBag.departmanId == null || ViewBag.departmanId == "")
                            {
                                <option selected disabled>Departman Seçin</option>
                            }
                            else
                            {
                                <option selected value="@ViewBag.departmanId">@ViewBag.departmanAdi</option>
                            }

                            @foreach (var departman in ViewBag.departmanList)
                            {
                                <option value="@departman.DepartmanId">@departman.DepartmanAdi</option>
                            }
                        </select>
                    </div>
                </div>
                <hr class="divider">
                <div class="row ">
                    <div class="form-check col-4">
                        <input name="silindi" id="chckSilindi" type="checkbox" value="true" checked="@ViewBag.chckSilindi" onclick="filter_isDeleted()" />
                        @if (ViewBag.lblSilindi == null)
                        {
                            <label id="lblChck" class="form-check-label" for="checkboxMusteri">
                                Mevcut
                            </label>
                        }
                        else
                        {
                            <label id="lblChck" class="form-check-label" for="checkboxMusteri">
                                @ViewBag.lblSilindi
                            </label>
                        }

                    </div>
                </div>
                <hr class="divider">
                <div class="row">
                </div>
                <button onclick="filterSifirla(); FillCountry()" type="button" class="btn btn-primary">Sıfırla</button>

            </form>
        </div>
    </div>

</div>
<div class="card">
    <div class="card-header">
        <div class="col-md-12 mb-1 d-flex justify-content-between">
            <button type="submit" form="fltAreaPozisyon" class="btn btn-outline-primary rounded-1 col-md-3 mb-1">
                Ara
                <i class="bi bi-binoculars"></i>
            </button>
            <a onclick="icerikGor('Pozisyon')" class="btn btn-outline-primary rounded-1 col-md-3 mb-1">
                Gör
                <i class="bi bi-eye"></i>
            </a>
            <a onclick="guncelle('Pozisyon')" class="btn btn-outline-primary rounded-1 col-md-3 mb-1">
                Değiştir
                <i class="bi bi-arrow-counterclockwise"></i>
            </a>
            <a asp-controller="DtPozisyon" asp-action="PozisyonEkle" class="btn btn-outline-primary rounded-1 col-md-3 mb-1">
                Ekle
                <i class="bi bi-clipboard-plus"></i>
            </a>
        </div>
    </div>
    <div class="card-body">
        <table id="tblDestek" class="table table-borderless table-hover  ">
            <thead>
                <tr>
                    <th>Seç</th>
                    <th>Pozisyon Adı</th>
                    <th>Departman</th>
                    <th>Son Değiştiren</th>
                    <th>Oluşturan</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.pozisyonList)
                {
                    var tblDepartman = dptm.TGetByID(item.DepartmanId);
                    var olusturan = km.TGetByID(item.Olusturan);
                    var sonDegistiren = km.TGetByID(item.SonDegistiren);
                    <tr>
                        <td><input name="radio" type="radio" value="@item.PozisyonId" /></td>
                        <td>@item.PozisyonAdi</td>
                        <td>@tblDepartman.DepartmanAdi</td>
                        <td>@olusturan.KullaniciAdi @olusturan.KullaniciSoyadi</td>
                        <td>@sonDegistiren.KullaniciAdi @sonDegistiren.KullaniciSoyadi</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">UYARI</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Lütfen Seçim Yapınız&hellip;</p>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Kapat</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


