<style>
    .select2-selection__rendered {
        line-height: 31px !important;
    }

    .select2-container .select2-selection--single {
        height: 31px !important;
    }
</style>
<form asp-action="Numarator" asp-controller="Numarator" method="post">
    <div class="row bg-secondary justify-content-around">
        <div class="col-md-1">
            <label class="col-form-label col-form-label-sm">Ön Ek</label>
            <input class="form-control form-control-sm" name="onEk" />
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label class="col-12 col-form-label col-form-label-sm  text-center">Sıra</label>
                <select class="form-control select2bs4" style="width: 100%;" name="sira1">
                    <option selected disabled>Tip Seç</option>
                    <option value="1">Gün</option>
                    <option value="2">Ay</option>
                    <option value="3">Yıl</option>
                    <option value="4">Otomatik</option>
                    <option value="5">Parametre1</option>
                    <option value="6">Parametre2</option>
                </select>
            </div>
        </div>
        <div style="width:30px">
            <label class=" col-12 text-center ">-</label>
            <input class="form-control form-control-sm" maxlength="1" name="karakter1" />
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label class="col-form-label col-form-label-sm text-center col-12">Sıra</label>
                <select class="form-control select2bs4" style="width: 100%;" name="sira2">
                    <option selected disabled>Tip Seç</option>
                    <option value="1">Gün</option>
                    <option value="2">Ay</option>
                    <option value="3">Yıl</option>
                    <option value="4">Otomatik</option>
                    <option value="5">Parametre1</option>
                    <option value="6">Parametre2</option>
                </select>
            </div>
        </div>
        <div style="width:30px">
            <label class="col-12 text-center">-</label>
            <input class="form-control form-control-sm" maxlength="1" name="karakter2" />
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label class="col-form-label col-form-label-sm  col-12 text-center">Sıra</label>
                <select class="form-control select2bs4" style="width: 100%;" name="sira3">
                    <option selected disabled>Tip Seç</option>
                    <option value="1">Gün</option>
                    <option value="2">Ay</option>
                    <option value="3">Yıl</option>
                    <option value="4">Otomatik</option>
                    <option value="5">Parametre1</option>
                    <option value="6">Parametre2</option>
                </select>
            </div>
        </div>
        <div style="width:30px">
            <label class=" col-12 text-center ">-</label>
            <input class="form-control form-control-sm" maxlength="1" name="karakter3" />
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label class="col-form-label col-form-label-sm  col-12 text-center">Sıra</label>
                <select class="form-control select2bs4" style="width: 100%;" name="sira4">
                    <option selected disabled>Tip Seç</option>
                    <option value="1">Gün</option>
                    <option value="2">Ay</option>
                    <option value="3">Yıl</option>
                    <option value="4">Otomatik</option>
                    <option value="5">Parametre1</option>
                    <option value="6">Parametre2</option>
                </select>
            </div>
        </div>
        <div style="width:30px">
            <label class=" col-12 text-center ">-</label>
            <input class="form-control form-control-sm" maxlength="1" name="karakter4" />
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label class="col-form-label col-form-label-sm  col-12 text-center">Sıra</label>
                <select class="form-control select2bs4" style="width: 100%;" name="sira5">
                    <option selected disabled>Tip Seç</option>
                    <option value="1">Gün</option>
                    <option value="2">Ay</option>
                    <option value="3">Yıl</option>
                    <option value="4">Otomatik</option>
                    <option value="5">Parametre1</option>
                    <option value="6">Parametre2</option>
                </select>
            </div>
        </div>
        <div style="width:30px">
            <label class=" col-12 text-center">-</label>
            <input class="form-control form-control-sm" maxlength="1" name="karakter5" />
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label class="col-form-label col-form-label-sm  col-12 text-center">Sıra</label>
                <select class="form-control select2bs4" style="width: 100%;" name="sira6">
                    <option selected disabled>Tip Seç</option>
                    <option value="1">Gün</option>
                    <option value="2">Ay</option>
                    <option value="3">Yıl</option>
                    <option value="4">Otomatik</option>
                    <option value="5">Parametre1</option>
                    <option value="6">Parametre2</option>
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <label class="col-form-label col-form-label-sm col-12 text-right">Son Ek</label>
            <input class="form-control form-control-sm" name="sonEk" />
        </div>
    </div>
    <div class="m-3">
  <div class="col-10 m-auto">
    <div class="form-group row">
      <label for="numarator" class="col-sm-2 col-form-label"
        >Numarator Açıklama</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="numarator"
          placeholder="Numarator Açıklama"
          value="@ViewBag.numarator"
          name="numaratorAciklama"
          required
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="parca" class="col-sm-2 col-form-label">Parça Uzunluğu</label>
      <div class="col-sm-10">
        <input
          class="form-control"
          id="parca"
          type="number"
          value="0"
          name="baslangicSayisi"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="baslangıc" class="col-sm-2 col-form-label"
        >Başlangıç Sayısı</label
      >
      <div class="col-sm-10">
        <input
          type="number"
          id="baslangıc"
          class="form-control"
          name="arttirmaAraligi"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="arttırma" class="col-sm-2 col-form-label"
        >Arttırma Aralığı</label
      >
      <div class="col-sm-10">
        <input
          type="number"
          class="form-control"
          id="arttırma"
          name="arttirmaAraligi"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="doldurmaKarakteri" class="col-sm-2 col-form-label"
        >Doldurma Karakteri</label
      >
      <div class="col-sm-10">
        <input
          type="number"
          class="form-control"
          id="doldurmaKarakteri"
          name="doldurmaKarakteri"
        />
      </div>
    </div>
    <div class="col-10 offset-2 text-center">
      <button type="submit" class="col-4 btn btn-primary my-2">Button</button>
    </div>
  </div>
</div>


    @* Modal Başlangıç *@
    @* <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#modal-default"
    >
      Launch Default Modal
    </button> *@
    <div
  class="modal fade"
  id="modal-default"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Default Modal</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <select class="custom-select" id="inputGroupSelect04">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">
              Button
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

    <script type="text/javascript">
    window.addEventListener("load", (event) => {
        $("#modal-default").modal("show");
    });
    </script>


    @* Modal Bitiş *@

    @*<div class="col-md-3">
        <label class="col-form-label col-form-label-sm">Parça Tipi</label>
        <select id="parcaTipi" class="form-control select2bs4" name="parcaTipi" style="width: 100%;" required>
            <option selected disabled>Parça Tipi Seçin</option>
            <option value="1">Gün</option>
            <option value="2">Ay</option>
            <option value="3">Yıl</option>
            <option value="4">Otomatik</option>
            <option value="5">Parametre1</option>
            <option value="6">Parametre2</option>
        </select>
    </div>*@


    
</form>
<table class="table">
    <thead>
        <tr>
            <th>Parça Tipi</th>
            <th>Parça Uzunluğu</th>
            <th>Ön Ek</th>
            <th>Başlangıç Sayısı</th>
            <th>Arttırma Aralığı</th>
            <th>Yenileme Parçaları</th>
            <th>Doldurma Karakteri</th>
            <th>Son Ek</th>
        </tr>
    </thead>
    @*<tbody>
        @if (Enumerable.Count(ViewBag.numaratorList) != 0)
        {
            @foreach (var item in ViewBag.numaratorList)
                {
                    string parcaTipi = "";
                    switch (item.ParcaTipi)
                    {
                        case 1:
                            parcaTipi = "gün";
                            break;
                        case 2:
                            parcaTipi = "ay";
                            break;
                        case 3:
                            parcaTipi = "yıl";
                            break;
                        case 4:
                            parcaTipi = "otomatik";
                            break;
                        default:
                            break;
                    }
                <tr>
                    <td>@parcaTipi</td>
                    <td>@item.ParcaUzunlugu</td>
                    <td>@item.OnEk</td>
                    <td>@item.BaslangicSayisi</td>
                    <td>@item.ArttirmaAraligi</td>
                    <td>@item.YenilemeParcalari</td>
                    <td>@item.DoldurmaKarakteri</td>
                    <td>@item.SonEk</td>
                </tr>
            }
        }
    </tbody>*@
</table>
<form asp-action="NumaraUret" asp-controller="Numarator" method="get">
    <select class="form-control select2bs4" style="width: 100%;" name="numaratorId" required>
        <option selected disabled value="">Numarator Seçin</option>
        @if (Enumerable.Count(ViewBag.numaratorList) != 0)
            {
                foreach (var item in ViewBag.numaratorList)
                {
                    <option value="@item.NumaratorId">@item.NumaratorAciklama</option>
                }
            }
        </select>
<label>@ViewBag.no</label>
<button type="submit" class="btn ">uret</button>
</form>