@using BusinessLayer.Concrete;
@using DataAccessLayer.EntityFramework;
@{
    @*@model List<Sehir>*@
    @*@model Tuple<Sehir>*@
    var um = new UlkeManager(new EfUlkeDal());
    var sm = new SehirManager(new EfSehirDal());
    var km = new KullaniciManager(new EfKullaniciDal());


}


<div class="card">
    <div class="m-2 mb-3 ">
        <div class="col ">
            <form id="fltAreaSehir" asp-controller="DestekTablosu" asp-action="DTSehir"  asp-route-id="" method="post">
                <div class="row  ">
                    <div class="col-md-4 mb-1">
                        <input type="text" class="form-control form-control" id="sehirAdiFlt1" name="sehirAdi" value="@ViewBag.sehirAdi" placeholder="Şehir Adı">
                    </div>
                    <div class="col-md-4 mb-1">
                        <input type="number" class="form-control" id="plakaKoduFlt1" name="plakaKodu" value="@ViewBag.plakaKodu" placeholder="Plaka Kodu">

                    </div>
                    <div class="col-md-4 mb-1">
                        <input type="number" class="form-control" id="telefonKoduFlt1" name="telefonKodu" value="@ViewBag.telefonKodu" placeholder="Telefon Kodu">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4 mb-1 ">
                        <select id="sUlkeFilter1" class="form-control select2bs4" style="width: 100%;" name="ulkeId" >
                            @if (ViewBag.ulkeId == null || ViewBag.ulkeId == "")
                            {
                                <option selected disabled>Ülke Seçin</option>
                            }
                            else
                            {
                                <option selected value="@ViewBag.ulkeId">@ViewBag.ulkeAdi</option>
                            }

                            @foreach (var ulke in ViewBag.ulkeList)
                            {
                                <option value="@ulke.UlkeId">@ulke.UlkeAdi</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4 mb-1">
                        <input type="text" class="form-control" id="olusturanFlt" placeholder="Oluşturan">

                    </div>
                    <div class="col-md-4 mb-1">
                        <input type="text" class="form-control" id="sonDegistirenflt" placeholder="Son Değiştiren ">
                    </div>
                </div>
                <hr class="divider">
                <div class="row ">
                    <div class="form-check col-4">
                        <input name="silindi" id="chckSilindi" type="checkbox" value="true" checked="@ViewBag.chckSilindi" onclick="filter_sehir()" />
                        @if (ViewBag.lblSilindi == null)
                        {
                            <label id="lblChck" class="form-check-label" for="checkboxMusteri">
                                Mevcut
                            </label>
                        }
                        else
                        {
                            <label id="lblChck" class="form-check-label" for="checkboxMusteri">
                                @ViewBag.lblSilindi
                            </label>
                        }

                    </div>
                    @*<div class="form-check col-4">
                            <input name="mevcut" type="checkbox" value="true" checked="@ViewBag.chckMevcut" />
                            <label class="form-check-label" for="checkboxTedarikci">
                                Mevcut
                            </label>
                        </div>
                        <div class="form-check col-4">
                            <input name="default-radio-1" type="checkbox" value="" id="radioAll" />
                            <label class="form-check-label" for="checkboxAll"> Hepsi </label>
                        </div>*@

                </div>
                <hr class="divider">
                <div class="row">
                    @*<button type="submit" class="btn btn-primary">Filtrele</button>*@
                    @*<button id="btnFilter" onclick="filterSh(); " class="btn btn-primary">Filtrele</button>*@
                </div>
                <button onclick="filterDefault(); FillCountry()" type="button" class="btn btn-primary">Sıfırla</button>

            </form>
        </div>
    </div>

</div>
<div class="card">
    <div class="card-header">
        <div class="col-md-12 mb-1 d-flex justify-content-between">
            <button type="submit" onclick="goruntule()" form="fltAreaSehir" class="btn btn-outline-primary rounded-1 col-md-3 mb-1">
                Ara
                <i class="bi bi-binoculars"></i>
            </button>
            <a onclick="icerikGor()" class="btn btn-outline-primary rounded-1 col-md-3 mb-1">
                Gör
                <i class="bi bi-eye"></i>
            </a>
            <a onclick="guncelle()" class="btn btn-outline-primary rounded-1 col-md-3 mb-1">
                Değiştir
                <i class="bi bi-arrow-counterclockwise"></i>
            </a>
            <a asp-controller="DestekTablosu" asp-action="SehirEkle" class="btn btn-outline-primary rounded-1 col-md-3 mb-1">
                Ekle
                <i class="bi bi-clipboard-plus"></i>
            </a>
        </div>
    </div>
    <div class="card-body">
        <table id="tblSehir" class="table table-borderless table-hover  ">
            <thead>
                <tr>
                    <th>Seç</th>
                    <th>Şehir Adı</th>
                    <th>Plaka Kodu</th>
                    <th>Telefon Kodu</th>
                    <th>Ülke </th>
                    <th>Son Değiştiren</th>
                    <th>Oluşturan</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.sehirList)
                {
                    var tblUlke = um.TGetByID(item.UlkeId);
                    var olusturan = km.TGetByID(item.Olusturan);
                    var sonDegistiren = km.TGetByID(item.SonDegistiren);
                    <tr id="tblSehirRow" aria-expanded="false">
                        <td><input name="radio" type="radio" value="@item.SehirId" /></td>
                        <td>@item.SehirAdi</td>
                        <td>@item.PlakaKodu </td>
                        <td>@item.TelefonKodu </td>
                        <td>@tblUlke.UlkeAdi</td>
                        <td>@olusturan.KullaniciAdi @olusturan.KullaniciSoyadi</td>
                        <td>@sonDegistiren.KullaniciAdi @sonDegistiren.KullaniciSoyadi</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">UYARI</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Lütfen Seçim Yapınız&hellip;</p>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Kapat</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


