@using BusinessLayer.Concrete;
@using DataAccessLayer.EntityFramework;
@{
    ParaBirimiManager pbm = new ParaBirimiManager(new EfParaBirimiDal());
    KullaniciManager km = new KullaniciManager(new EfKullaniciDal());
    int paraBirimiId = ViewBag.id;
    var tblParaBirimi = pbm.TGetByID(paraBirimiId);
    var sonDegistiren = km.TGetByID(tblParaBirimi.SonDegistiren);
    var olusturan = km.TGetByID(tblParaBirimi.Olusturan);

}
<div id="divContent" class="card  bg-light">
    <form  method="post">
        <div class="form-group ">
            <div class="card-body p-3">
                <div class="row mb-2">
                    <div class="col-md-3">
                        <label>Para Birimi</label>
                        <label class="form-control text-capitalize">@tblParaBirimi.ParaBirimiAdi</label>
                    </div>
                    <div class="col-md-3">
                        <label>Para Birimi Kısaltma</label>
                        <label class="form-control text-uppercase">@tblParaBirimi.ParaBirimiKisaltma</label>
                    </div>
                    <div class="col-md-3">
                        <label>Para Birimi Simge</label>
                        <label class="form-control">@tblParaBirimi.ParaBirimiSimge</label>
                    </div>
                    <div class="col-md-3">
                        <label>Durum</label>
                        @{
                            if (tblParaBirimi.Silindi == false)
                            {
                                <label class="form-control ">Mevcut</label>
                            }
                            else
                            {
                                <label class="form-control ">Silindi</label>
                            }
                        }
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">
                        <label>Oluşturan</label>
                        <label class="form-control ">@olusturan.KullaniciAdi @olusturan.KullaniciSoyadi</label>
                    </div>
                    <div class="col-md-3">
                        <label>Oluşturulma Tarihi</label>
                        <label class="form-control">@tblParaBirimi.OlusturulmaTarih.Date.ToShortDateString()</label>
                    </div>
                    <div class="col-md-3">
                        <label>Son Değiştiren</label>
                        <label class="form-control ">@sonDegistiren.KullaniciAdi @sonDegistiren.KullaniciSoyadi</label>
                    </div>
                    <div class="col-md-3">
                        <label>Son Değiştirilme Tarihi</label>
                        <label class="form-control">@tblParaBirimi.SonDegistirmeTarih.Date.ToShortDateString()</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
