@using BusinessLayer.Concrete;
@using DataAccessLayer.EntityFramework;
@{
    @*@model List<Ulke>*@
    @*@model Tuple<Ulke>*@
    var um = new UlkeManager(new EfUlkeDal());
    var km = new KullaniciManager(new EfKullaniciDal());


}

<div class="card bg-light">
    <div class="card">
        <div class="card-header bg-gray">
            <div class="row justify-content-between">
                <div class="col-md-3">
                    <h3>Ülke Destek Tablosu</h3>
                </div>
                <div class="col-md-2">
                    <div class="row justify-content-end">
                        <div class="col-4">
                            <a asp-action="Index" asp-controller="DestekTablosu" class=" btn btn-lg btn-danger ">
                                <i class="bi bi-x-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body bg-light">
            <div class="m-2 mb-3 ">
                <div class="col ">
                    <form id="fltAreaUlke" asp-controller="DTUlke" asp-action="DTUlke" asp-route-id="" method="post">
                        <div class="row  ">
                            <div class="col-md-3 mb-1">
                                <label class="col-form-label col-form-label-sm">Ülke</label>
                                <input type="text" class="form-control" name="ulkeAdi" value="@ViewBag.UlkeAdi" placeholder="Ülke Adı">
                            </div>
                            <div class="col-md-3 mb-1">
                                <label class="col-form-label col-form-label-sm">Telefon Kodu</label>
                                <input type="number" class="form-control" name="telefonKodu" value="@ViewBag.telefonKodu" placeholder="Telefon Kodu">

                            </div>
                            <div class="col-md-3 mb-1">
                                <label class="col-form-label col-form-label-sm">İkili Kod</label>
                                <input type="text" class="form-control" name="binaryCode" value="@ViewBag.binaryCode" placeholder="İkili Kısaltma">

                            </div>
                            <div class="col-md-3 mb-1">
                                <label class="col-form-label col-form-label-sm">Üçlü Kod</label>
                                <input type="text" class="form-control" name="tripleCode" value="@ViewBag.tripleCode" placeholder="Üçlü Kısaltma">
                            </div>
                        </div>
                        <hr class="divider">
                        <div class="row ">
                            <div class="form-check col-4">
                                <input name="silindi" id="chckSilindi" type="checkbox" value="true" checked="@ViewBag.chckSilindi" onclick="filter_isDeleted()" />
                                @if (ViewBag.lblSilindi == null)
                                {
                                    <label id="lblChck" class="form-check-label" for="chckSilindi">
                                        Mevcut
                                    </label>
                                }
                                else
                                {
                                    <label id="lblChck" class="form-check-label" for="chckSilindi">
                                        @ViewBag.lblSilindi
                                    </label>
                                }
                            </div>
                        </div>
                        <hr class="divider">
                        <button onclick="filterSifirla(); FillCountry()" type="button" class="btn btn-primary">Sıfırla</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<div class="card bg-light">
    <div class="card-header">
        <div class="col-md-12 mb-1 d-flex justify-content-between">
            <button type="submit" form="fltAreaUlke" class="btn btn-outline-primary rounded-1 col-md-3 mb-1">
                Ara
                <i class="bi bi-binoculars"></i>
            </button>
            <a onclick="icerikGor('Ulke')" class="btn btn-outline-primary rounded-1 col-md-3 mb-1">
                Gör
                <i class="bi bi-eye"></i>
            </a>
            <a onclick="guncelle('Ulke')" class="btn btn-outline-primary rounded-1 col-md-3 mb-1">
                Değiştir
                <i class="bi bi-arrow-counterclockwise"></i>
            </a>
            <a asp-controller="DtUlke" asp-action="UlkeEkle" class="btn btn-outline-primary rounded-1 col-md-3 mb-1">
                Ekle
                <i class="bi bi-clipboard-plus"></i>
            </a>
        </div>
    </div>
    <div class="card-body">
        <table id="tblDestek" class="table table-borderless table-hover  ">
            <thead>
                <tr>
                    <th>Seç</th>
                    <th>Ülke Adı</th>
                    <th>İkili Kısaltma</th>
                    <th>Üçlü Kısaltma</th>
                    <th>Telefon Kodu</th>
                    <th>Son Değiştiren</th>
                    <th>Son Oluşturan</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.UlkeList)
                {
                    var olusturan = km.TGetByID(item.Olusturan);
                    var sonDegistiren = km.TGetByID(item.SonDegistiren);
                    <tr id="tblUlkeRow" aria-expanded="false">
                        <td><input name="radio" type="radio" value="@item.UlkeId" /></td>
                        <td>@item.UlkeAdi</td>
                        <td>@item.BinaryCode</td>
                        <td>@item.TripleCode</td>
                        <td>@item.TelefonKodu</td>
                        <td>@olusturan.KullaniciAdi @olusturan.KullaniciSoyadi</td>
                        <td>@sonDegistiren.KullaniciAdi @sonDegistiren.KullaniciSoyadi</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
</div>


<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">UYARI</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Lütfen Seçim Yapınız&hellip;</p>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Kapat</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


