@using BusinessLayer.Concrete;
@using DataAccessLayer.EntityFramework;
@{
    #region Manager
    CinsiyetManager cnsm = new CinsiyetManager(new EfCinsiyetDal());
    KullaniciManager km = new KullaniciManager(new EfKullaniciDal());
    CariPersonelManager pm = new CariPersonelManager(new EfCariPersonelDal());
    CariManager tcm = new CariManager(new EfCariDal());
    CalismaDurumuManager clsdm = new CalismaDurumuManager(new EfCalismaDurumuDal());
    CariManager cm = new CariManager(new EfCariDal());
    IlceManager ilcem = new IlceManager(new EfIlceDal());
    SehirManager sm = new SehirManager(new EfSehirDal());
    UlkeManager um = new UlkeManager(new EfUlkeDal());
    CariDurumManager cdm = new CariDurumManager(new EfCariDurumDal());
    ParaBirimiManager pbm = new ParaBirimiManager(new EfParaBirimiDal());
    AnaSektorManager asm = new AnaSektorManager(new EfAnaSektorDal());
    BagliSektorManager bsm = new BagliSektorManager(new EfBagliSektorDal());
    CariTipiManager ctm = new CariTipiManager(new EfCariTipiDal());
    DepartmanManager dptm = new DepartmanManager(new EfDepartmanDal());
    PozisyonManager pzm = new PozisyonManager(new EfPozisyonDal());
    CariPersonelManager apm = new CariPersonelManager(new EfCariPersonelDal());
    UnvanManager unvm = new UnvanManager(new EfUnvanDal());
    PozisyonManager pznm = new PozisyonManager(new EfPozisyonDal());
    #endregion
    var tblCariPersonel = pm.TGetByID(ViewBag.id);
    var sonDegistiren = km.TGetByID(tblCariPersonel.SonDegistiren);
    var olusturan = km.TGetByID(tblCariPersonel.Olusturan);

}

<style>
    .select2-selection__rendered {
        line-height: 31px !important;
    }

    .select2-container .select2-selection--single {
        height: 31px !important;
    }
</style>
<div class="card">
    <div class="card-header bg-gray">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <h4>Cari Personel Kartı Gör</h4>
            </div>
            <div class="col-md-2">
                <div class="row justify-content-end">
                    <div class="col-4">
                        <button type="submit" form="frmCariPersonelEkle" class="align-right btn btn-info btn-lg float-right" disabled><i class="bi bi-database-add"></i></button>
                    </div>
                    <div class="col-4">
                        <a asp-action="CariGuncelle" asp-controller="Cari" asp-route-id="@ViewBag.cariId" class=" btn btn-lg btn-danger"><i class="bi bi-x-lg"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body bg-light">
        <form id="frmCariPersonelEkle" asp-action="GTempCariPersonelKartiEkle" asp-controller="TempCariPersonelKarti" method="post">
            <div class="form-group">
                <div class="row mb-1">
                    <div class="col-md-3 mb-1">
                        <label class="col-form-label col-form-label-sm">Personel Kodu</label>
                        <input type="text" class="form-control form-control-sm text-capitalize" readonly value="@tblCariPersonel.CariPersonelKodu"
                               placeholder="Personel Kodu">
                    </div>
                    <div class="col-md-3 mb-1">
                        <label class="col-form-label col-form-label-sm">Adı</label>
                        <input type="text" class="form-control form-control-sm text-capitalize" placeholder="Personel Adı" value="@tblCariPersonel.CariPersonelAdi"
                              readonly />
                    </div>
                    <div class="col-md-3 mb-1">
                        <label class="col-form-label col-form-label-sm">İkinci Adı</label>
                        <input type="text" class="form-control form-control-sm text-capitalize" placeholder="İkinci Adı" value="@tblCariPersonel.CariPersonelAdi2"
                              readonly />
                    </div>
                    <div class="col-md-3 mb-1">
                        <label class="col-form-label col-form-label-sm">Soyadı</label>
                        <input type="text" class="form-control form-control-sm text-capitalize" placeholder="Soyadı" value="@tblCariPersonel.CariPersonelSoyadi"
                              readonly />
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-3 mb-1">
                        <label class="col-form-label col-form-label-sm">Cinsiyet</label>
                        <input type="text" class="form-control form-control-sm text-capitalize" value="@cnsm.TGetByID(tblCariPersonel.CinsiyetId).CinsiyetAciklama" readonly />
                    </div>
                    <div class="col-md-3 mb-1">
                        <label class="col-form-label col-form-label-sm">Telefon</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Telefon" value="@tblCariPersonel.Telefon"
                               readonly />
                    </div>
                    <div class="col-md-3 mb-1">
                        <label class="col-form-label col-form-label-sm">Adres</label>
                        <textarea class="form-control form-control-sm text-capitalize" placeholder="Adres 2"
                                  readonly>@tblCariPersonel.Adres1</textarea>
                    </div>
                    <div class="col-md-3 mb-1">
                        <label class="col-form-label col-form-label-sm">Adres</label>
                        <textarea  class="form-control form-control-sm text-capitalize" placeholder="Adres 2"
                                 readonly>@tblCariPersonel.Adres2</textarea>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-3 mb1">
                        <label class="col-form-label col-form-label-sm">Mail</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Mail" value="@tblCariPersonel.Mail" readonly>
                    </div>
                    @* <div class="col-md-3 mb1">
            <input type="text" class="form-control form-control" placeholder="Parola"
                asp-for="@Model.Parola">
        </div> *@
                    <div class="col-md-3">
                        <label class="col-form-label col-form-label-sm">Cari</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Mail" value="@cm.TGetByID(tblCariPersonel.CariId).CariAdi" readonly>
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label col-form-label-sm">İşe Giriş Tarihi</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Mail" value="@tblCariPersonel.IseGirisTarihi.ToShortDateString()" readonly>
                    </div>
                </div>
                <hr class="divider" />
                <div class="row mb-1">
                    <div class="col-md-3 mb-1">
                        <label class="col-form-label col-form-label-sm">Unvan</label>
                        <input type="text" class="form-control form-control-sm text-capitalize" value="@unvm.TGetByID(tblCariPersonel.UnvanId).UnvanAciklama" readonly />
                    </div>
                    <div class="col-md-3 mb-1">
                        <label class="col-form-label col-form-label-sm">Departman</label>
                        <input type="text" class="form-control form-control-sm text-capitalize" value="@dptm.TGetByID(tblCariPersonel.DepartmanId).DepartmanAdi" readonly />
                    </div>
                    <div class="col-md-3 mb-1">
                        <label class="col-form-label col-form-label-sm">Pozisyon</label>
                        <input type="text" class="form-control form-control-sm text-capitalize" value="@pznm.TGetByID(tblCariPersonel.PozisyonId).PozisyonAdi" readonly />
                    </div>
                    <div class="col-md-3 mb-1">
                        <label class="col-form-label col-form-label-sm">Çalışma Durumu</label>
                        <input type="text" class="form-control form-control-sm text-capitalize" value="@clsdm.TGetByID(tblCariPersonel.CalismaDurumuId).CalismaDurumuAciklama" readonly />
                    </div>
                </div>
                <hr class="divider" />
                <div class="row mb-1">
                    <div class="col-md-3">
                        <label class="col-form-label col-form-label-sm">Oluşturan</label>
                        <input class="form-control form-control-sm" value="@olusturan.KullaniciAdi @olusturan.KullaniciSoyadi"readonly/>
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label col-form-label-sm">Oluşturulma Tarihi</label>
                        <input class="form-control form-control-sm" value="@tblCariPersonel.OlusturulmaTarih.Date.ToShortDateString()" readonly/>
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label col-form-label-sm">Son Değiştiren</label>
                        <input class="form-control form-control-sm" value="@sonDegistiren.KullaniciAdi @sonDegistiren.KullaniciSoyadi"readonly />
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label col-form-label-sm">Son Değiştirilme Tarihi</label>
                        <input class="form-control form-control-sm" value="@tblCariPersonel.SonDegistirmeTarih.Date.ToShortDateString()"readonly />
                    </div>
                </div>
                <div class="row mt-3 mb-1">
                    <div class="col-md-3 mr-4">
                        <input class=" mr-3" onclick="return false;" type="checkbox"readonly>
                        <label class="form-check-label mr-3">Servis Maili Gönderilecek Mi?</label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-check-input" onclick="return false;" type="checkbox" readonly>
                        <label class="form-check-label">Servis Faturası Gönderilecek Mi?</label>
                    </div>

                </div>
                
            </div>
        </form>
    </div>
</div>




