@using BusinessLayer.Concrete;
@using DataAccessLayer.EntityFramework;
@model EntityLayer.Concrete.Unvan
@{

    KullaniciManager km = new KullaniciManager(new EfKullaniciDal());
    UnvanManager unvm = new UnvanManager(new EfUnvanDal());

    int unvanId = ViewBag.id;
    var unvan = unvm.TGetByID(unvanId);
    var olusturan = km.TGetByID(unvan.Olusturan);
    var error = TempData["error"];
    if (error != null)
    {
        <script type="text/javascript">window.onload = function () {
                var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                Toast.fire({
                    icon: 'error',
                    title: 'Güncelleme İşlemi Başarısız Oldu'
                })
            };</script>
    }
}
<div id="divContent" class="card  bg-light">
    <form asp-controller="DtUnvan" asp-action="UnvanGuncelle" asp-route-unvanId="@unvanId" asp-route-olusturan="@unvan.Olusturan" asp-route-olusturulmaTarihi="@unvan.OlusturulmaTarih" method="post">
        <div class="form-group ">
            <div class="card-body p-3">
                <div class="row mb-2">
                    <div class="col-md-3">
                        <label>Unvan</label>
                        <input type="Text" class="form-control text-capitalize" value="@unvan.UnvanAciklama" placeholder="Unvan" name="UnvanAciklama" asp-for="@Model.UnvanAciklama">
                    </div>
                    <div class="col-md-3">
                        <label>Kısaltma</label>
                        <input type="text" class="form-control text-uppercase" value="@unvan.UnvanKisaltma" asp-for="@Model.UnvanKisaltma">
                    </div>
                    <div class="col-md-3">
                        <label>Oluşturan</label>
                        <label class="form-control ">@olusturan.KullaniciAdi @olusturan.KullaniciSoyadi</label>
                    </div>
                </div>
                <div class="row mb-2">


                    <div class="col-md-3">
                        <label>Oluşturulma Tarihi</label>
                        <label class="form-control">@unvan.OlusturulmaTarih.Date.ToShortDateString()</label>
                    </div>
                    <div class="col-md-3">
                        <label>Son Değiştirme Tarihi</label>
                        <label class="form-control">@unvan.SonDegistirmeTarih.Date.ToShortDateString()</label>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">

                <button type="button" class="btn btn-danger m-3 col-2" data-toggle="modal" data-target="#modalSil">Sil</button>
                <button type="submit" class=" align-right btn btn-primary m-3 col-2 float-right"> Güncelle</button>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modalSil">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Unvan Silinecek</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Silmek istediğinizden emin misiniz?&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">İptal</button>
                <a href="/DtUnvan/DeleteUnvan/@unvanId" class="btn btn-outline-light">Sil</a>
            </div>
        </div>

    </div>

</div>

