@using BusinessLayer.Concrete;
@using DataAccessLayer.EntityFramework;
@model EntityLayer.Concrete.Unvan
@{

    KullaniciManager km = new KullaniciManager(new EfKullaniciDal());
    UnvanManager unvm = new UnvanManager(new EfUnvanDal());

    int unvanId = ViewBag.id;
    var unvan = unvm.TGetByID(unvanId);
    var olusturan = km.TGetByID(unvan.Olusturan);
    var error = TempData["error"];
    if (error != null)
    {
        <script type="text/javascript">window.onload = function () {
                var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                Toast.fire({
                    icon: 'error',
                    title: 'Güncelleme İşlemi Başarısız Oldu'
                })
            };</script>
    }
}
<div id="divContent" class="card  bg-light">
    <div class="card-header bg-gray">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <div class="row">
                    <h3>Unvan Güncelle</h3>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row justify-content-end">
                    <div class="col-4">
                        <h4>
                            <button type="submit" form="frmUnvanGuncelle" class=" align-right btn btn-info btn-lg float-right"><i class="bi bi-database-fill-add"></i></button>
                        </h4>
                    </div>
                    <div class="col-4">
                        <h4>
                            <button type="button" class=" align-right btn btn-warning btn-lg float-right" data-toggle="modal" data-target="#modalSil"><i class="bi bi-trash3-fill" style="color: white;"></i></button>
                        </h4>
                    </div>
                    <div class="col-4">
                        <a asp-action="DtUnvan" asp-controller="DtUnvan" class=" btn btn-lg btn-danger"><i class="bi bi-x-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="frmUnvanGuncelle" asp-controller="DtUnvan" asp-action="UnvanGuncelle" asp-route-unvanId="@unvanId" asp-route-olusturan="@unvan.Olusturan" asp-route-olusturulmaTarihi="@unvan.OlusturulmaTarih" method="post">
        <div class="form-group ">
            <div class="card-body p-3">
                <div class="row mb-2">
                    <div class="col-md-3">
                        <label class="col-form-label-sm">Unvan</label>
                        <input type="Text" class="form-control form-control-sm text-capitalize" value="@unvan.UnvanAciklama" placeholder="Unvan" name="UnvanAciklama" asp-for="@Model.UnvanAciklama">
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label-sm">Kısaltma</label>
                        <input type="text" class="form-control form-control-sm text-uppercase" value="@unvan.UnvanKisaltma" asp-for="@Model.UnvanKisaltma">
                    </div>

                </div>
                <div class="row mb-2">
                    <div class="col-md-3">
                        <label class="col-form-label-sm">Oluşturan</label>
                        <label class="form-control form-control-sm ">@olusturan.KullaniciAdi @olusturan.KullaniciSoyadi</label>
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label-sm">Oluşturulma Tarihi</label>
                        <label class="form-control form-control-sm">@unvan.OlusturulmaTarih.Date.ToShortDateString()</label>
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label-sm">Son Değiştirme Tarihi</label>
                        <label class="form-control form-control-sm">@unvan.SonDegistirmeTarih.Date.ToShortDateString()</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modalSil">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Unvan Silinecek</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Silmek istediğinizden emin misiniz?&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">İptal</button>
                <a href="/DtUnvan/DeleteUnvan/@unvanId" class="btn btn-outline-light">Sil</a>
            </div>
        </div>

    </div>

</div>

