@using BusinessLayer.Concrete;
@using DataAccessLayer.EntityFramework;
@{
    UnvanManager unvm = new UnvanManager(new EfUnvanDal());
    KullaniciManager km = new KullaniciManager(new EfKullaniciDal());
    int unvanId = ViewBag.id;
    var tblUnvan = unvm.TGetByID(unvanId);
    var sonDegistiren = km.TGetByID(tblUnvan.SonDegistiren);
    var olusturan = km.TGetByID(tblUnvan.Olusturan);

}
<div class="bg-light shadow">
  <div class="bg-secondary rounded-top">
    <div class="d-flex container-fluid nav-general">
      <div class="col-sm-6">
        <div class="nav-brand">Unvan Gör</div>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-3 ml-auto">
        <ul class="list-items float-right">
          <li class="col-sm-4 mr-3">
            <button
              type="submit"
              form="frmModulEkle"
              class="btn btn-info btn-lg not-allowed"
            >
              <i class="bi bi-database-add"></i>
            </button>
          </li>
          @*
          <li class="col-sm-4">
            <button
              type="button"
              class="btn btn-warning btn-lg"
              data-toggle="modal"
              data-target="#modalSil"
            ></button>
          </li>
          *@
          <li class="col-sm-4">
            <a
              asp-action="DtUnvan"
              asp-controller="DtUnvan"
              class="btn btn-danger btn-lg"
            >
              <i class="bi bi-x-lg"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-body bg-light">
      <form method="post">
        <div class="form-group">
          <div class="card-body p-3">
            <div class="row mb-2">
              <div class="col-md-3">
                <label class="col-form-label col-form-label-sm">Unvan</label>
                <label class="form-control form-control-sm text-capitalize"
                  >@tblUnvan.UnvanAciklama</label
                >
              </div>
              <div class="col-md-3">
                <label class="col-form-label col-form-label-sm"
                  >Unvan Kısaltma</label
                >
                <label class="form-control form-control-sm text-uppercase"
                  >@tblUnvan.UnvanKisaltma</label
                >
              </div>
              <div class="col-md-3">
                <label class="col-form-label col-form-label-sm" l>Durum</label>
                @{ if (tblUnvan.Silindi == false) {
                <label class="form-control form-control-sm">Mevcut</label>
                } else {
                <label class="form-control form-control-sm">Silindi</label>
                } }
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-3">
                <label class="col-form-label col-form-label-sm"
                  >Oluşturan</label
                >
                <label class="form-control form-control-sm"
                  >@olusturan.KullaniciAdi @olusturan.KullaniciSoyadi</label
                >
              </div>
              <div class="col-md-3">
                <label class="col-form-label col-form-label-sm"
                  >Oluşturulma Tarihi</label
                >
                <label class="form-control form-control-sm"
                  >@tblUnvan.OlusturulmaTarih.Date.ToShortDateString()</label
                >
              </div>
              <div class="col-md-3">
                <label class="col-form-label col-form-label-sm"
                  >Son Değiştiren</label
                >
                <label class="form-control form-control-sm"
                  >@sonDegistiren.KullaniciAdi
                  @sonDegistiren.KullaniciSoyadi</label
                >
              </div>
              <div class="col-md-3">
                <label class="col-form-label col-form-label-sm"
                  >Son Değiştirilme Tarihi</label
                >
                <label class="form-control form-control-sm"
                  >@tblUnvan.SonDegistirmeTarih.Date.ToShortDateString()</label
                >
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
