@using BusinessLayer.Concrete;
@using DataAccessLayer.EntityFramework;
@{
    UnvanManager unvm = new UnvanManager(new EfUnvanDal());
    KullaniciManager km = new KullaniciManager(new EfKullaniciDal());
    int unvanId = ViewBag.id;
    var tblUnvan = unvm.TGetByID(unvanId);
    var sonDegistiren = km.TGetByID(tblUnvan.SonDegistiren);
    var olusturan = km.TGetByID(tblUnvan.Olusturan);

}
<div id="divContent" class="card">
    <div class="card-header bg-gray">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <div class="row">
                    <h3>Unvan Gör</h3>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row justify-content-end">
                    <div class="col-4">
                        <h4>
                            <button type="submit" form="frmModulEkle"
                                    class=" align-right btn btn-primary btn-lg float-right not-allowed" disabled>
                                <i class="bi bi-database-add "></i>
                            </button>
                        </h4>
                    </div>
                    <div class="col-4">
                        <a asp-action="DtUnvan" asp-controller="DtUnvan" class=" btn btn-lg btn-danger "><i class="bi bi-x-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body bg-light">

    <form method="post">
        <div class="form-group ">
            <div class="card-body p-3">
                <div class="row mb-2">
                    <div class="col-md-3">
                        <label class ="col-form-label col-form-label-sm">Unvan</label>
                        <label class="form-control form-control-sm text-capitalize">@tblUnvan.UnvanAciklama</label>
                    </div>
                    <div class="col-md-3">
                        <label class ="col-form-label col-form-label-sm">Unvan Kısaltma</label>
                        <label class="form-control form-control-sm text-uppercase">@tblUnvan.UnvanKisaltma</label>
                    </div>
                    <div class="col-md-3">
                        <label class ="col-form-label col-form-label-sm"l>Durum</label>
                        @{
                            if (tblUnvan.Silindi == false)
                            {
                                <label class="form-control form-control-sm ">Mevcut</label>
                            }
                            else
                            {
                                <label class="form-control form-control-sm ">Silindi</label>
                            }
                        }
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">
                        <label class ="col-form-label col-form-label-sm">Oluşturan</label>
                        <label class="form-control form-control-sm ">@olusturan.KullaniciAdi @olusturan.KullaniciSoyadi</label>
                    </div>
                    <div class="col-md-3">
                        <label class ="col-form-label col-form-label-sm">Oluşturulma Tarihi</label>
                        <label class="form-control form-control-sm">@tblUnvan.OlusturulmaTarih.Date.ToShortDateString()</label>
                    </div>
                    <div class="col-md-3">
                        <label class ="col-form-label col-form-label-sm">Son Değiştiren</label>
                        <label class="form-control form-control-sm ">@sonDegistiren.KullaniciAdi @sonDegistiren.KullaniciSoyadi</label>
                    </div>
                    <div class="col-md-3">
                        <label class ="col-form-label col-form-label-sm">Son Değiştirilme Tarihi</label>
                        <label class="form-control form-control-sm">@tblUnvan.SonDegistirmeTarih.Date.ToShortDateString()</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>
