@model EntityLayer.Concrete.ServisDepartman
@{
    ServisDepartmanManager sdm=new ServisDepartmanManager(new EfServisDepartmanDal());
    KullaniciManager km=new KullaniciManager(new EfKullaniciDal());
    int servisDepartmanId=ViewBag.id;
    var tblServisDepartman=sdm.TGetByID(servisDepartmanId);
    var olusturan=km.TGetByID(tblServisDepartman.Olusturan);
    var sonDegistiren=km.TGetByID(tblServisDepartman.SonDegistiren);
}
<div class="bg-light">
  <div class="bg-secondary rounded-top">
    <div class="d-flex container-fluid nav-general">
      <div class="col-sm-6">
        <div class="nav-brand">Servis Departmanı Gör</div>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-3 ml-auto">
        <ul class="list-items float-right">
          <li class="col-sm-4 mr-3">
            <button
              type="submit"
              form="frmServisDepartmanEkle"
              class="btn btn-info btn-lg not-allowed"
            >
              <i class="bi bi-database-add"></i>
            </button>
          </li>
          @*
          <li class="col-sm-4">
            <button
              type="button"
              class="btn btn-warning btn-lg"
              data-toggle="modal"
              data-target="#modalSil"
            ></button>
          </li>
          *@
          <li class="col-sm-4">
            <a
              asp-action="DtServisDepartman"
              asp-controller="DtServisDepartman"
              class="btn btn-danger btn-lg"
            >
              <i class="bi bi-x-lg"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-body bg-light">
      <form
        id="frmServisDepartmanEkle"
        asp-controller="DtServisDepartman"
        asp-action="ServisDepartmanEkle"
        method="post"
      >
        <div class="form-group">
          <div class="card-body p-3">
            <div class="row mb-2">
              <div class="col-md-3">
                <label class="col-form-label-sm">Servis Departmanı</label>
                <label class="form-control form-control-sm text-capitalize"
                  >@tblServisDepartman.ServisDepartmanAdi</label
                >
              </div>
            </div>
            <hr class="divider" />
            <div class="row mb-2">
              <div class="col-md-3">
                <label class="col-form-label-sm">Oluşturan</label>
                <label class="form-control form-control-sm text-capitalize"
                  >@olusturan.KullaniciAdi @olusturan.KullaniciAdi2
                  @olusturan.KullaniciSoyadi</label
                >
              </div>
              <div class="col-md-3">
                <label class="col-form-label-sm">Oluşturulma Tarihi</label>
                <label class="form-control form-control-sm text-capitalize"
                  >@tblServisDepartman.OlusturulmaTarih</label
                >
              </div>
              <div class="col-md-3">
                <label class="col-form-label-sm">Son Değiştiren</label>
                <label class="form-control form-control-sm text-capitalize"
                  >@sonDegistiren.KullaniciAdi @sonDegistiren.KullaniciAdi2
                  @sonDegistiren.KullaniciSoyadi</label
                >
              </div>
              <div class="col-md-3">
                <label class="col-form-label-sm">Son Değiştirilme Tarihi</label>
                <label class="form-control form-control-sm text-capitalize"
                  >@tblServisDepartman.SonDegistirmeTarih</label
                >
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
